<table class="table table-striped" style="font-size: .8em">
  <thead>
    <tr>
      {{#each header}}
      {{#if @first}}
      <th>{{label}}</th>
      {{else}}
      <th><a href="{{link}}" title={{label}}><img alt="{{label}}" src="img/{{id}}.png"/><br/>{{label}}</a></th>
      {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      {{#each this}}
      <td>{{{.}}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      {{#each footer}}
      <th>{{.}}</th>
      {{/each}}
    </tr>
  </tfoot>
</table>
