<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="{{id}}">
    <h4 class="panel-title">
      <a class="{{#unless expanded}}collapsed{{/unless}}" data-toggle="collapse" data-parent="#param-groups" href="#{{id}}-body" aria-controls="{{id}}-body">
        <span class="toggle">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
        </span>
        {{name}}
      </a>
      <span class="badge pull-right" style="min-width: 3em;">{{weight}}</span>
      <input id="{{id}}" class="group-weight pull-right" type="range" min="0" max="10" step=".5" data-value="{{weight}}" value="{{weight}}" style="display: inline-block; width: 200px;"/>
    </h4>
  </div>
  <div id="{{id}}-body" class="panel-collapse collapse {{#if expanded}}in{{/if}}" aria-expanded="{{expanded}}" role="tabpanel" aria-labelledby="{{id}}">
    <div class="panel-body">
      {{#each children}}
      <div id="w-{{id}}" class="form-group">
        <div>
          <label class="weight" for="{{id}}">{{parameter}}{{#if info}} <a class="text-info" href="#{{id}}" data-content="{{info}}" data-toggle="popover" data-trigger="focus"><span class="glyphicon glyphicon-info-sign"></span></a>{{/if}}</label>
          <span class="pull-right">{{weight}}</span>
        </div>
        <input id="{{id}}" data-group="{{../id}}" class="weight" type="range" min="0" max="10" step=".5" data-value="{{weight}}" value="{{weight}}"/>
      </div>
      {{/each}}
    </div>
  </div>
</div>
